.team{
}
.row{
  background-color: white;
  border-radius: 5px;
  box-shadow: -10px 20px 30px color-mix(in srgb, white, transparent 30%);
  padding: 30px;
}
.con1{

  color: #06BBCC;
}
.section-title h2:before,
.section-title h2:after {
  content: "";
  width: 50px;
  height: 2px;
  background: #06BBCC;
  display: inline-block;
}
.img-fluid{
  height: 180px;
  width: 200px;
}
