<!-- Team Section -->
<section id="team" class="team section">

  <!-- Section Title -->
  <div class="con1 container section-title" [@fadeUp]>
    <h2>{{ 'TEAM' | translate }}</h2>
    <p>{{ 'OUR_TEAM' | translate }}</p>
  </div><!-- End Section Title -->

  <div class="container con">

    <div class="row gy-5">

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="100">
        <div class="member-img">
          <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>BARDE Steven</h4>
          <span>{{ 'FRONT_END_DEVELOPER' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="200">
        <div class="member-img">
          <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>NKEDEM Gildas</h4>
          <span>{{ 'DEVELOPER' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="300">
        <div class="member-img">
          <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>DONGMO Russel Brandon</h4>
          <span>{{ 'BACK_END_DEVELOPER' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="400">
        <div class="member-img">
          <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>KAMTCHUING KOUAM Dany</h4>
          <span>{{ 'BACK_END_DEVELOPER' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="500">
        <div class="member-img">
          <img src="assets/img/team/team-5.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>FOSSO TIOFOUET JOSPIN Cabrel</h4>
          <span>{{ 'BACK_END_DEVELOPER' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="600">
        <div class="member-img">
          <img src="assets/img/team/team-6.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>TCHIGUIA FRANCELLE SYNTIA</h4>
          <span>{{ 'BACK_END_DEVELOPER' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="600">
        <div class="member-img">
          <img src="assets/img/team/team-7.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>{{ 'TEPI_MECHAGNE_MICHELE_SERENA' | translate }}</h4>
          <span>{{ 'AAAAA' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="600">
        <div class="member-img">
          <img src="assets/img/team/team-8.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>{{ 'TOUKAP_REINE_PRISCILLE' | translate }}</h4>
          <span>{{ 'AAAAA' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="600">
        <div class="member-img">
          <img src="assets/img/team/team-9.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>{{ 'KENGNE_VENELA_DUCREU' | translate }}</h4>
          <span>{{ 'AAAAA' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" [@fadeUp] data-aos-delay="600">
        <div class="member-img">
          <img src="assets/img/team/team-10.jpg" class="img-fluid" alt="">
          <div class="social">
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>FOTIO LONTSI FANY</h4>
          <span>{{ 'AAAAA' | translate }}</span>
          <p>{{ 'STUDENT_IN_COMPUTER_SCIENCE' | translate }}</p>
          <p>{{ 'UNIVERSITY_OF_DSCHANG' | translate }}</p>
        </div>
      </div><!-- End Team Member -->

    </div>
  </div>
</section><!-- End Team Section -->
