<div class="adminsys-layout">
  <nav class="sidebar">
    <ul>
      <li><a routerLink="/adminsys/categories" routerLinkActive="active">Catégories</a></li>
      <li><a routerLink="/adminsys/documents" routerLinkActive="active">Documents</a></li>
      <li><a routerLink="/adminsys/collaborateurs" routerLinkActive="active">Collaborateurs</a></li>
      <li><a routerLink="/adminsys/facultes" routerLinkActive="active">Facultés</a></li>
      <li><a routerLink="/adminsys/filieres" routerLinkActive="active">Filières</a></li>
      <li><a routerLink="/adminsys/niveaux" routerLinkActive="active">Niveaux</a></li>
      <li><a routerLink="/adminsys/projets" routerLinkActive="active">Projets</a></li>
      <li><a routerLink="/adminsys/universites" routerLinkActive="active">Universités</a></li>
      <li><a routerLink="/adminsys/users" routerLinkActive="active">Utilisateurs</a></li>
    </ul>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
