<div  #body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a class="logo d-flex align-items-center">
        <img src="assets/img/logo1.jpg" alt="">
        <span class="d-none d-lg-block">User {{ user_name | uppercase}}</span>
      </a>
      <i #toggleSidebarBtn (click)="toggleSidebar()"  class="bi bi-list toggle-sidebar-btn d-lg-none"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle" href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">{{ notifications.length }}</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have {{ notifications.length }} new notifications
              <span class="badge rounded-pill bg-primary p-2 ms-2" (click)="markAllNotificationAsRead()">View all</span>
            </li>
            <li *ngFor="let notification of notifications">
              <hr class="dropdown-divider">
              <div class="notification-item d-flex align-items-start justify-content-between">
                <div>
                  <!-- Example of displaying notification data -->
                  <h6>{{ notification.data.project_title }}</h6>
                  <p>{{ notification.data.status }}</p>
                  <p>{{ notification.data.message }}</p>
                  <p>{{ notification.created_at | date:'mediumDate' }}</p>
                </div>
                <div class="align-self-end">
                  <!-- Example of marking notification as read -->
                  <button class="btn btn-primary btn-sm" (click)="markNotificationAsRead(notification.id)">Mark as Read</button>
                </div>
              </div>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a >Show all notifications</a>
            </li>
          </ul>
        </li><!-- End Notifications Dropdown --><!-- End Notification Nav -->


        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown">
            <img src="assets/navi.png" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{user_name}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user_name}}</h6>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" >
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" >
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" [routerLink]="['/helpUser']"
>
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <p class="dropdown-item d-flex align-items-center" (click)="deconnexion()">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </p>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " >
          <i class="bi bi-grid"></i>
          <span>{{user_name | uppercase}} Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>My Projects</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li *ngFor="let project of projects">
            <a routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/user/dashboard/project-detail', project.id]" [queryParams]="getProjectQueryParams(project)">
              <i class="bi bi-circle"></i><span>{{project.titre}}</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" >
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" >
          <i class="fas fa-cog"></i>
          <span>Settings</span>
        </a>
      </li><!-- End Profile Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <!-- Notifications Dropdown Menu -->
  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
    <li class="dropdown-header">
      You have {{ notifications.length }} new notifications
      <span class="badge rounded-pill bg-primary p-2 ms-2" (click)="markAllNotificationAsRead()">View all</span>
    </li>
    <li *ngFor="let notification of notifications">
      <hr class="dropdown-divider">
      <div class="notification-item d-flex align-items-start justify-content-between">
        <div>
          <!-- Example of displaying notification data -->
          <h6>{{ notification.data.project_title }}</h6>
          <p>{{ notification.data.status }}</p>
          <p>{{ notification.data.message }}</p>
          <p>{{ notification.created_at | date:'mediumDate' }}</p>
        </div>
        <div class="align-self-end">
          <!-- Example of marking notification as read -->
          <button class="btn btn-danger btn-sm btn-custom" (click)="markNotificationAsRead(notification.id)">Mark as Read</button>
        </div>
      </div>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li class="dropdown-footer">
      <a href="#">Show all notifications</a>
    </li>
  </ul><!-- End Notifications Dropdown -->

    <router-outlet></router-outlet>

  <footer id="footer" class="footer">
    <div class="mycopyright">
      &copy; Copyright <strong><span>AcadProManage</span></strong>. All Rights Reserved
    </div>
    <div class="credits">

    </div>
  </footer><!-- End Footer -->
</div>
