<h3>Modifier le mot de passe</h3>
<form (ngSubmit)="submit()" class="form-container">
  <label for="oldPassword">Ancien mot de passe :</label>
  <input
    id="oldPassword"
    type="password"
    [(ngModel)]="oldPassword"
    name="oldPassword"
    required
    class="input"
  />

  <label for="newPassword">Nouveau mot de passe :</label>
  <input
    id="newPassword"
    type="password"
    [(ngModel)]="newPassword"
    name="newPassword"
    required
    class="input"
  />

  <button type="submit" class="submit-btn">Enregistrer</button>
</form>
<p *ngIf="message" class="success-msg">{{ message }}</p>
