<div *ngIf="!showCodeInput && !successMessage" class="custom-scroll w-full contain-content h-full max-w-lg p-6 pt-2 bg-white rounded-lg shadow-lg relative">
  <button (click)="onCancel()" class="absolute top-2 right-2 text-gray-400 hover:text-gray-600">
    <i class="fas fa-times"></i>
  </button>
  <h2 class="mb-2 text-3xl font-bold text-center text-customBlue poppins-bold">{{ 'CREATE_ACCOUNT' | translate }}</h2>
  <form class="space-y-6" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="flex justify-center mb-4">
      <img src="assets/img/create_.jpg" alt="Header Image" class="w-full h-44 bg-cover object-cover">
    </div>
    <!-- Step 1 -->
    <div class="step" [class.active]="currentStep === 1">
      <div class="justify-center text-center text-customBlue">
        <h3 class="mb-2 text-customBlue text-xl font-semibold">{{ 'STEP_1' | translate }}</h3>
      </div>
      <div class="form-group mb-1">
        <label for="username" class="mb-1">{{ 'USERNAME' | translate }}</label>
        <input formControlName="username" type="text" id="username" name="username" placeholder="{{ 'USERNAME' | translate }}"
               [ngClass]="{'custom-outline': (registerFormControl['username'].touched || submitted) && registerFormControl['username'].errors}"
               class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-customBlue">
        <span class="text-red-600 text-sm" *ngIf="(registerFormControl['username'].touched || submitted) && registerFormControl['username'].errors?.['required']">
          {{ 'USERNAME_REQUIRED' | translate }}
        </span>
      </div>
      <div class="form-group mb-1">
        <label class="mb-1" for="email">{{ 'EMAIL' | translate }}</label>
        <input formControlName="email" type="text" id="email" name="email" placeholder="{{ 'EMAIL' | translate }}"
               [ngClass]="{'custom-outline': (registerFormControl['email'].touched || submitted) && registerFormControl['email'].errors}"
               class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-customBlue">
        <span class="text-red-600 text-sm" *ngIf="(registerFormControl['email'].touched || submitted) && registerFormControl['email'].errors?.['required']">
          {{ 'EMAIL_REQUIRED' | translate }}
        </span>
        <span class="text-red-600 text-sm" *ngIf="registerFormControl['email'].touched && registerFormControl['email'].errors?.['email']">
          {{ 'EMAIL_INVALID' | translate }}
        </span>
      </div>
      <div class="form-group mb-3">
        <label class="mb-1" for="filiere">{{ 'FIELD_OF_STUDY' | translate }}</label>
        <select formControlName="filiere" id="filiere" name="filiere"
                [ngClass]="{'custom-outline': (registerFormControl['filiere'].touched || submitted) && registerFormControl['filiere'].errors}"
                class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-customBlue">
          <option value="" disabled selected>{{ 'CHOOSE_FIELD_OF_STUDY' | translate }}</option>
          <option *ngFor="let id of filiere_id ; index as i" [value]="id">{{filiere_name[i]}}</option>
        </select>
        <span class="text-red-600 text-sm" *ngIf="(registerFormControl['filiere'].touched || submitted) && registerFormControl['filiere'].errors?.['required']">
          {{ 'FIELD_OF_STUDY_REQUIRED' | translate }}
        </span>
      </div>
      <div class="flex justify-end mt-1">
        <button type="button" (click)="nextStep()" class="px-4 py-2 text-white bg-customBlue rounded-lg hover:bg-customBlue-dark">{{ 'NEXT' | translate }} <i class="fas fa-chevron-right"></i></button>
      </div>
    </div>
    <!-- Step 2 -->
    <div class="step" [class.active]="currentStep === 2">
      <div class="justify-center text-center text-customBlue">
        <h3 class="mb-2 text-customBlue text-xl font-semibold">{{ 'STEP_2' | translate }}</h3>
      </div>
      <div class="form-group mb-2">
        <label class="mb-1" for="password">{{ 'PASSWORD' | translate }}</label>
        <input formControlName="password" type="password" id="password" name="password" placeholder="{{ 'PASSWORD' | translate }}"
               [ngClass]="{'custom-outline': (registerFormControl['password'].touched || submitted) && registerFormControl['password'].errors}"
               class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-customBlue">
        <span class="text-red-600 text-sm" *ngIf="(registerFormControl['password'].touched || submitted) && registerFormControl['password'].errors?.['required']">
          {{ 'PASSWORD_REQUIRED' | translate }}
        </span>
        <span class="text-red-600 text-sm" *ngIf="registerFormControl['password'].touched && registerFormControl['password'].errors?.['invalidPassword']">
          {{ 'PASSWORD_INVALID' | translate }}
        </span>
      </div>
      <div class="form-group mb-4">
        <label class="mb-1" for="confirmPassword">{{ 'CONFIRM_PASSWORD' | translate }}</label>
        <input formControlName="confirmPassword" type="password" id="confirmPassword" name="confirmPassword" placeholder="{{ 'CONFIRM_PASSWORD' | translate }}"
               [ngClass]="{'custom-outline': (registerFormControl['confirmPassword'].touched || submitted) && registerFormControl['confirmPassword'].errors}"
               class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-customBlue">
        <span class="text-red-600 text-sm" *ngIf="(registerFormControl['confirmPassword'].touched || submitted) && registerFormControl['confirmPassword'].errors?.['required']">
          {{ 'CONFIRM_PASSWORD_REQUIRED' | translate }}
        </span>
        <span class="text-red-600 text-sm" *ngIf="registerFormControl['confirmPassword'].touched && registerFormControl['confirmPassword'].errors?.['passwordMismatch']">
          {{ 'PASSWORD_MISMATCH' | translate }}
        </span>
      </div>

      <div class="flex justify-between mt-1">
        <button type="button" (click)="previousStep()" class=" px-4 py-2 text-white bg-customBlue rounded-lg hover:bg-customBlue-dark"><i class="fas fa-chevron-left"></i> {{ 'PREVIOUS' | translate }}</button>
        <button [disabled]="isLoading || registerForm.invalid" type="submit"
                class="disabled:bg-gray-300 disabled:cursor-not-allowed px-4 py-2 text-white rounded-lg flex items-center justify-center"
                [ngClass]="{'bg-customBlue': !isLoading, 'hover:bg-customBlue-dark': !isLoading}">
          <span *ngIf="!isLoading">{{ 'REGISTER' | translate }}</span>
          <mat-spinner *ngIf="isLoading" [diameter]="24"></mat-spinner>
        </button>
      </div>
      <p class="text-red-600 text-center mt-3 text-md" *ngIf="verifyAccountMessage">{{ verifyAccountMessage }}</p>
    </div>
  </form>
</div>

<div *ngIf="showCodeInput && !successMessage" class="p-6 relative">
  <button (click)="onCancel()" class="absolute top-2 right-2 text-gray-400 hover:text-gray-600">
    <i class="fas fa-times"></i>
  </button>
  <h2 class="mb-2 text-customBlue text-2xl font-bold text-center">{{ 'VERIFY_ACCOUNT' | translate }}</h2>
  <form [formGroup]="codeForm" (ngSubmit)="onVerifyCode()">
    <div class="flex justify-center mb-4">
      <img src="assets/img/conn2.jpg" alt="Header Image" class="w-full h-52 bg-cover object-cover">
    </div>
    <h5>{{ 'ENTER_CODE' | translate }} <span class="font-bold">{{registerForm.get('email')?.value}}</span></h5>
    <div class="mb-4">
      <label class="block mb-2 mt-2 text-sm font-medium text-gray-700" for="verificationCode">{{ 'VERIFICATION_CODE' | translate }}</label>
      <input formControlName="verificationCode" type="text" id="verificationCode" name="verificationCode"
             [ngClass]="{'outline outline-red-500': (codeFormControl['verificationCode'].touched || submitted2) && codeFormControl['verificationCode'].errors}"
             class="w-full px-1 py-2 border rounded-lg focus:outline-none focus:ring-customBlue">
      <span class="text-red-500 text-sm" *ngIf="(codeFormControl['verificationCode'].touched || submitted2) && codeFormControl['verificationCode'].errors?.['required']">
        {{ 'VERIFICATION_CODE_REQUIRED' | translate }}
      </span>
    </div>
    <button [disabled]="isLoading || codeForm.invalid" type="submit"
            class="disabled:bg-gray-300 disabled:cursor-not-allowed w-full px-4 py-2 text-white rounded-md flex items-center justify-center"
            [ngClass]="{'bg-customBlue py-2': !isLoading,'hover:bg-customBlue': !isLoading}">
      <span *ngIf="!isLoading">{{ 'VERIFY' | translate }}</span>
      <mat-spinner *ngIf="isLoading" [diameter]="24"></mat-spinner>
    </button>
    <p class="text-red-600 text-center text-md" *ngIf="verifyCodeErrorMessage">{{ verifyCodeErrorMessage  }}</p>
  </form>
</div>

<div *ngIf="successMessage && !showCodeInput" class="flex flex-col items-center justify-center relative">
  <button (click)="onCancel()" class="absolute top-2 right-2 text-gray-400 hover:text-gray-600">
    <i class="fas fa-times"></i>
  </button>
  <div class="flex justify-center mb-4 mt-2">
    <img src="assets/img/create_.jpg" alt="Header Image" class="w-full h-48 bg-cover object-cover">
  </div>
  <div class="flex items-center justify-center w-44 h-44 bg-customBlue rounded-full">
    <i class="fas fa-check text-white text-7xl"></i>
  </div>
  <h2 class="mt-4 text-xl font-bold text-center text-black ">{{ successMessage }}</h2>
  <div class="text-center px-4 py-2 bg-customBlue rounded-md cursor-pointer">
    <span (click)="onCancel()" class="text-white">{{ 'OK' | translate }}</span>
  </div>
</div>
